*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    position: relative;
    width: 80vw;
    max-width: 400px;
    height: 80vh;
    overflow: hidden;
    .background{
        /* background-color: red; */
        background-image: url('../img/clouds-3994154_960_720.jpg');
        background-image: url('../img/star-4167939_960_720.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 35px;
        /* width: 80vw;
        max-width: 500px;
        height: 80vh; */
        height: 100%;
        padding: 25px;
        padding-top: 50px;
        .input-wrap{
            background-color: rgba(255, 255, 255, 0.324);
            width: fit-content;
            padding: 3px;
            padding-left: 6px;
            border-radius: 5px;
            backdrop-filter: blur(5px);
            color: rgba(255, 255, 255, 0.85);
            &:hover{
                background-color: rgba(255, 255, 255, 0.383);
            }
            input{
                background-color: #ffffff00;
                color: white;
                border: none;
                border-bottom: 1px solid #d6d5d5;
                border-radius: 2px;
                padding: 2px;
                font-weight: bold;
                &:focus{
                    /* border: none; */
                    outline: none;
                }
            }
            button{
                padding: 6px;
                border-radius: 5px;
                border: none;
                border-top: 1px solid #ffffff61;
                background-color: #5c5c5cad;
                color: white;
                &:active{
                    border: none;
                    padding-top: 7px;
                    background-color: #3c3c3cad;
                }
            }
        }
        .display{
            /* opacity: 0; */
            width: 100%;
            position: relative;
            margin-top: 15px;
            /* background-color: green; */
          
            .temp{
                font-size: 12em;
                background: -webkit-linear-gradient(#ffffff, #ffffff34);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .temp-scale{
                font-size: 5em;
                background: -webkit-linear-gradient(#ffffff, #ffffff34);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: absolute;
                top: 40px;
            }
        }
    }
    .pannel{
        /* width: 80vw;
        max-width: 500px; */
        width: 100%;
        height: 300px;
        background-color: #e1e1e1;
        border-radius: 0px 0px 35px 35px;
        position: absolute;
        bottom: 0;
        box-shadow: 0px -14px 7px 0px rgba(0,0,0,0.29);
        svg{
            transform: translateY(-50%);
            width: 100%;
        }
        .pannel-content{
            border-radius: 0px 0px 35px 35px;
            padding: 5px;
            width: 100%;
            max-width: 400px;
            height: 100%;
            position: absolute;
            top: 0;
            h1{
                text-align: center;
                font-size: 1.5rem;
            }
        }
        /* transform: translateY(+150%); */
    }
}

